@use "../../../styles/colors" as *;
@use "../../../styles/mixins" as *;

.form {
  display: flex;
  flex-direction: column;
  gap: $space-lg;
}

.dateRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $space-xl;
}
