@use "styles/colors" as *;
@use "styles/mixins" as *;

.root {
  margin-top: $space-xs;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.divider {
  flex: 0 0 100%;
  margin-bottom: $space-sm;
}

.hint {
  font-size: $font-xs;
  color: $text-dim;
}
