@use 'styles/colors' as *;

.divider {
  display: block;
  flex-shrink: 0;
}

.horizontal {
  border-block-start: 1px solid var(--divider-color, #{$border});
}

.vertical {
  align-self: stretch;
  border-inline-start: 1px solid var(--divider-color, #{$border});
  margin-block: var(--divider-vertical-margin-block, 0.25rem);
}
