@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;

.body {
  color: $text-body;
  font-size: $font-body;
  line-height: 1.6;
  margin: 0 0 $space-2xl;

  strong {
    color: $text-bright;
  }
}
