@use "styles/colors" as *;
@use "styles/mixins" as *;

.form {
  display: flex;
  flex-direction: column;
  gap: $space-md;
}

.assetRow {
  display: flex;
  justify-content: center;
  gap: $space-xl;
}

.nameRow {
  display: flex;
  gap: $space-md;

  > * {
    flex: 1;
    min-width: 0;
  }
}

.colorRow {
  display: flex;
  gap: $space-xl;

  > * {
    flex: 1;
    min-width: 0;
  }
}

.locationRow {
  display: flex;
  gap: $space-xl;

  > * {
    flex: 1;
    min-width: 0;
  }
}
