@use "styles/colors" as *;
@use "styles/mixins" as *;

.form {
  display: flex;
  flex-direction: column;
  gap: $space-md;
}

.assetRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(132px, 1fr));
  gap: $space-lg;
}

.nameRow {
  display: flex;
  gap: $space-md;

  > * {
    flex: 1;
    min-width: 0;
  }
}

.colorRow {
  display: flex;
  gap: $space-xl;

  > * {
    flex: 1;
    min-width: 0;
  }
}
